# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
.venv/
venv/
env/

# Configuración sensible
.env

# Logs
finops.log
*.log

# Terraform output generado
tf_output/
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp
*.swo

# pytest
.pytest_cache/
.coverage
htmlcov/
